html, body {
  overflow: hidden;
}
#prev-planet {
  position: absolute;
  left: 1em;
}
#next-planet {
  position: absolute;
  right: 1em;
}
#planet-name {
  position: relative;
  top: 0.5em;
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: center;
  color: #ffffff;
}
#controls {
  position: absolute;
  left: 50%;
  bottom: 3em;
  transform: translateX(-50%);
  min-width: 320px;
  z-index: 1;
  text-align: center;
}
.planet-nav {
  font-size: 3em;
  text-decoration: none;
  border: none;
  color: #ffffff;

  transition: 100ms;
  opacity: 0.8;
  cursor: pointer;
}
.planet-nav:hover {
  color: #888888;
  transition: 400ms;
  opacity: 0.6;
}
/* MOBILE DEVICES */
@media all and (max-width: 600px) {
  #controls {
    bottom: 2.5em;
  }
  #prev-planet {
    left: 0.5em;
  }
  #next-planet {
    right: 0.5em;
  }
}
