html, body {
  font-family: 'Ubuntu', 'sans-serif';
  font-weight: 300;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  overflow: hidden;
}
#page {
  position: relative;
  margin: 0 0 2em 0;
  padding: 0 0 1em 0;
  width: 100%;
  min-height: calc(100vh - 3em);
  z-index: 1;
}
.content {
  margin: 0 auto;
  width: 60%;
  max-width: 720px;
  min-width: 320px;
}

/* SHAPES & ANIMATIONS */
#nav-left {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #ffffff;
  border-bottom: 10px solid transparent;
  text-decoration: none;
  color: #ffffff;
  z-index: 1;
  transition: 100ms;
  opacity: 0.8;
}
#nav-left::after {
  content: 'Back';
  position: absolute;
  top: -0.7em;
  left: 1.3em;
  font-size: 0.8em;
  opacity: 0.8;
}
#nav-left:hover {
    border-right: 10px solid #888888;
    color: #888888;
    transition: 400ms;
    opacity: 0.8;
}

/* LINKS */
a:link, a:visited {
  text-decoration: none;
  border-bottom: 1px dotted #aaaaaa;
  color: #aaaaaa;
  transition: 100ms;
}
a:hover, a:active, a:focus {
  border-bottom: 1px dotted #888888;
  color: #888888;
  transition: 400ms;
}
